{
  "VITE_COSMIC_CODER_CONTRACT_ID": "",
  "VITE_GAME_HUB_CONTRACT_ID": "CB4VZAT2U3UC6XFK3N23SKRF2NDCMP3QHJYMCHHFMZO7MRQO6DQ2EMYG",
  "VITE_ZK_PROVER_URL": "",
  "VITE_PROGRESS_API_URL": "",
  "VITE_LEADERBOARD_URL": "",
  "VITE_API_URL": ""
}
